# App
composer.lock
/application/views/cache/*.tpl
/application/views/cache/*.php
/application/config/config.php
/application/assets/protected/application.db*

# Documentation
docs/build

# Frontend sub-folders
public/css/*
public/js/*
public/fonts/*
public/webfonts/*
public/img/*
public/icons/*

# IDE & tools
.idea
.php-cs-fixer.cache

# npm specific
package-lock.json
node_modules/*

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.env

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
