<?xml version="1.0" encoding="utf-8" ?>
<phpunit
    colors="true"
    verbose="true"
    columns="max"
>
    <!-- TODO: add missing tests
    <testsuite name="Bacula-Web Test Suite">
        <directory>./tests</directory>
    </testsuite-->

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">application</directory>
        </include>
    </coverage>
</phpunit>