body{
  background-color: #ffffff;
  padding: 3px;
  margin: 0px;
  
  font-family: Arial,Verdana;
}

#header{
 width: 100%;
 padding: 0px;
 margin: 0px;
 margin-bottom: 15px;
 background-color: #1E90FF ;
}
#header p {
 margin: 0px;
 padding: 5px;
 color: #FFFFFF;
 vertical-align: middle;
 font-size: 18pt;
 font-variant: small-caps;
 font-weight: bold;
 text-align: right;
}

#subheader {
 font-size: 10pt;
 margin: 0em;
 padding: 0px;
 border-bottom: 1px solid black;
}
#subheader ul {
 height: 20px;
 margin: 0px;
}

#subheader li {
 display: inline;
 float: right;
 padding: 0px 10px 0px 10px;
}

#subheader li a {
 text-decoration: none;
}

#main_left {
 position: absolute; 
 left:5px; 
 width: 550px; 
 border:none; 
 margin-top: 1em; 
 background-color: #FFFFFF;
}

#main_right {
 position: absolute; 
 left:560px; 
 width: 420px; 
 border: none; 
 margin-top: 1em;
}

.box {
 border: 1px solid black;
 width: 100%;
 margin: 10px 0px 0px 0px;
 padding: 0px;
 text-align: center;
}

.box p.title {
 height: auto;
 text-align: center;
 vertical-align: middle;
 font-size: 11pt;
 background-color: #1E90FF;
 color: white;
 font-weight: bold;
 padding: 0px;
 margin-top: 0px;
 margin-bottom: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
}

.box img {
 width: 410px;
 margin: 0px;
}

table {
 width: 100%;
 margin: 0px;
 border-collapse: collapse;
}
.pool_name {
 text-align: left; 
 font-weight: bold;
 font-size: 9pt;
 padding: 2px;
 background-color: #E0C8E5; 
 color: black; 
}

.tbl_vol_header {
 text-align: center; 
 background-image: url('../images/bg5.png'); 
}

a:link { color: #0000c0 }
a:visited { color: #0000c0 }
a:hover { color: #6040ff }
img {border: 0}

td,input,select { 
 font-family: Verdana,Arial; 
 font-size: 7.5pt; 
 color: #000000;
}
.back {
 background-color: #E6E6F5; 
}
.tbl_header	{
 background-color: #47A9E5; 
}
.genmed 	{ 
 font-size : 11px; 
}
.tbl_medium	{ 
 border-bottom: black solid 1px;
 border-left: black solid 1px;
 border-right: black solid 1px;
 border-top: black solid 1px;
 background-color: #FDFFBF;
}

.tbl_pool_inter_1 { 
 background-color: #D4D4D9; 
 border-style: solid; 
 border-left-width: 1px; 
 border-top-width: 1px; 
 border-right-width: 0px;
 background-image:url('../images/bg5.png');
}
.tbl_pool_inter_2 { 
 background-color: #D4D4D9; 
 border-style: solid; 
 border-left-width: 0px; 
 border-top-width: 1px; 
 border-right-width: 0px;
}
.tbl_pool_inter_3 { 
 background-color: #D4D4D9; 
 border-style: solid; 
 border-left-width: 0px; 
 border-top-width: 1px; 
 border-right-width: 1px
}
.titulo 	{ 
 font-size : 20px; 
 background-color: #FDFFBF; 
 border: #D1D7DC; 
 border-style: solid;
 border-left-width: 1px; 
 border-top-width: 1px; 
 border-right-width: 1px; 
 border-bottom-width: 1px;
}
.tbl_header1    {
 font-size : 14px;
 background-color: #FDFFBF; 
 border: #D1D7DC; 
 border-style: solid;
 border-left-width: 1px; 
 border-top-width: 1px; 
 border-right-width: 1px; 
 border-bottom-width: 1px
}
.tbl_header2	{
 font-size: 14px;
 background-color: #FDFFBF;
}
.titulo2	{ font-size : 13px; font-weight: bold; }
.table1		{ background-color: #D1D7DC; }
.table2 	{ background-color: #A7D7D1; }
.table3		{ background-color: #D1D7DC; }
.table4		{ background-color: #A7D7D1; }

.code {
 font-family: Courier, 'Courier New', sans-serif; 
 font-size: 11px; 
 color: #10738F;
 background-color: #FAFAFA; 
 border: #D1D7DC; 
 border-style: solid;
 border-left-width: 1px; 
 border-top-width: 1px; 
 border-right-width: 1px; 
 border-bottom-width: 1px
}
.notas { 
 font-size : 13px; 
 color: red;
}
.header { 
 font-size : 18px; 
}
.size_small { 
 font-size: 9px; 
}

