body, form{
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  font-family: Arial,Verdana;
  font-size: 10pt;
  text-align: left;
  vertical-align: middle;
}

form input {
  padding: 3px;  
}

form input.submit {
	margin-bottom: 10px;
}

a:link, a:visited, a:hover, a:visited {
  color: #736F6E;
  font-size: 10pt;
}

#nav
{
 margin: 10px;
 /*border: 1px solid green;*/
 font-size: 11pt;
}

#nav a:link {
 font-size: 11pt;
 font-weight: bold;
}

#nav a:visited {
 font-size: 11pt;
 font-weight: bold;
}

.main_center {
 width: 80%;
 margin: 10px;
 padding: 10px;
 float: left;
 border: 1px solid #C8C8C8;
 background-color: #ffffff;
}

.main_center .header {
 border-bottom: 1px solid #000000;
 color: #000000;
 font-size: 11pt;
 font-weight: bold;
 margin: 5px 0px;
 padding: 0px;
 vertical-align: middle;
 text-align: left;
}

.list {
 width: auto;
 height: auto;
 overflow: auto;
 margin: 5px 0px;
 padding: 0px;
 text-align: center;
 max-height: 420px;
}

.box {
 float: left;
 min-height: 100px;
 min-width: 300px;
 padding: 0px;
 margin: 10px 5px;
 text-align: center;
 background-color: #ffffff;
}

.box p.title {
 text-align: center;
 vertical-align: middle;
 font-size: 11pt;
 background-color: #C8C8C8;
 color: #000000;
 padding: 2px;
 margin: 0px;
}

.box h4, .box h5 {
 background-color: #eeeeee;
 width: auto;
 text-align: center;
 font-weight: bold;
 padding: 3px;
 margin: 5px 0px 10px 0px;
}

.box img.graph {
 margin: auto;
 border: none;
}

.box p.box_footer {
 font-style: italic;
 font-size: 9pt;
 color: #736F6E;
 margin: 0px;
}

.box table tr td {
 padding: 3px;
 font-size: 9pt;
 height: 20px;
 text-align: center;
 min-width: 40px;
}

.box table tr td.label { 
 /*font-weight: bold;*/
 text-align: left;
}

.box table td.info {
 text-align: center;
}

.box table td.completed_jobs {
 width: 60px;
 color: #00FF00;
 font-weight: bolder;
 font-size: 10pt;
 border: 1px solid #C8C8C8;
}

.box table td.failed_jobs {
 width: 60px;
 color: #FF0000;
 font-weight: bolder;
 font-size: 10pt;
 border: 1px solid #C8C8C8;
}

.box table td.waiting_jobs {
 width: 60px;
 color: #FF6600;
 font-weight: bolder;
 font-size: 10pt;
 border: 1px solid #C8C8C8;
}

.box table tr td.info a { font-size: 8pt;}

.odd { background-color: #C8C8C8; }

table {
 width: 100%;
 margin: 0px;
 border-collapse: collapse;
}

.tbl_header	{
 background-color: #E0E0E0; 
 color: #000000;
 font-weight: bold;
}
