#header{
 width: 100%;
 padding: 0px;
 margin: 0px;
 background-color: #736F6E;
 display: table;
}

#header_appname {
 display: table-cell;
 float: right;
 color: #FFFFFF;
 vertical-align: middle;
 font: normal small-caps bold 18pt Arial,Verdana;
 padding: 10px;
}

.header_navigation { 
 color: white; 
 font-size: 12pt; 
 display: table-cell; 
 vertical-align: middle;
 padding: 10px;
}

.header_navigation a { 
 color: #FFFFFF;
 font: normal normal bold 12pt Arial,Verdana;
 text-decoration: none;
}

#toplinks {
 font-size: 10pt;
 padding: 0px;
 border-bottom: 1px solid black;
 height: 30px;
}

#toplinks ul {
 height: 30px;
 margin: 0px;
 /* margin-top: 5px; */
}

#toplinks li {
 display: inline;
 float: right;
 padding: 0px 10px 0px 10px;
 margin-top: 5px;
 vertical-align: middle;
}

#toplinks li a {
 text-decoration: none;
}