body { min-height: 1000px; padding-top: 60px;}
#testpage .glyphicon-ok { color: #5cb85c; }
#testpage .glyphicon-remove { color: #d9534f; }
div.form-group-sm label {font-size: 12px;}
h1, .h1, h2, .h2, h3, .h3 {margin-top: 10px; margin-bottom: 15px; }
