<div class="row justify-content-end">
    <div class="col-4">
        <div class="count text-end p-1 fs-6">
            {% set range_start = pagination.getItemNumberPerPage * (pagination.getCurrentPageNumber -1) %}
            {% set range_end = range_start + pagination.getItemNumberPerPage %}
            {{ range_start +1 }} to {{ range_end }} / {{ pagination.getTotalItemCount }} row(s)
        </div>
    </div>
    <div class="col-4">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>