<?php

// Show inactive clients (false by default)
$config['show_inactive_clients'] = true;

// Hide empty pools (displayed by default)
$config['hide_empty_pools'] = false;

// Jobs per page (Jobs report page)
$config['jobs_per_page'] = 25;

// Translations
$config['language'] = 'en_US';

// Custom datetime format (by default: Y-m-d H:i:s)
// Examples 
// $config['datetime_format'] = 'd/m/Y H:i:s';
// $config['datetime_format'] = 'm-d-Y H:i:s';

// en_US -> English 
// es_ES -> Spanish 
// it_IT -> Italian
// fr_FR -> French
// de_DE -> German
// sv_SV -> Swedish
// pt_BR -> Portuguese Brazil
// nl_NL -> Dutch 
// ja_JP -> Japanese
// no_NO -> Norvegian
// ru_RU -> Russian
// sv_SV -> Swedish
// zh_CN -> Chinese

// Database connection parameters
// Copy/paste and adjust parameters according to your configuration

// For Unix socket connection, use parameters decribed below
// MySQL: use localhost for $config[0]['host']
// postGresql: do not define $config[0]['host']

// MySQL bacula catalog
// $config[0]['label'] = 'Backup Server';
// $config[0]['host'] = 'localhost';
// $config[0]['login'] = 'bacula';
// $config[0]['password'] = 'verystrongpassword';
// $config[0]['db_name'] = 'bacula';
// $config[0]['db_type'] = 'mysql';
// $config[0]['db_port'] = '3306';

// PostgreSQL bacula catalog
// $config[0]['label'] = 'Prod Server';
// $config[0]['host'] = 'db-server.domain.com';
// $config[0]['login'] = 'bacula';
// $config[0]['password'] = 'otherstrongpassword';
// $config[0]['db_name'] = 'bacula';
// $config[0]['db_type'] = 'pgsql';
// $config[0]['db_port'] = '5432'; 

// SQLite bacula catalog
// $config[0]['label'] = 'Dev backup server';
// $config[0]['db_type'] = 'sqlite';
// $config[0]['db_name'] = '/path/to/database/db.sdb';
// Copy the section below only if you have at least two Bacula catalog
// Don't forget to modify options such as label, host, login, password, etc.

// 2nd bacula catalog (MySQL)
// $config[1]['label'] = 'Dev backup server';
// $config[1]['host'] = 'mysql-server.domain.net';
// $config[1]['login'] = 'bacula';
// $config[1]['password'] = 'verystrongpassword';
// $config[1]['db_name'] = 'bacula';
// $config[1]['db_type'] = 'mysql';
// $config[1]['db_port'] = '3306';
?>
