<?php

/**
 * Copyright (C) 2010-present Davide Franco
 * 
 * This file is part of Bacula-Web.
 * 
 * Bacula-Web is free software: you can redistribute it and/or modify it under the terms of the GNU 
 * General Public License as published by the Free Software Foundation, either version 2 of the License, or 
 * (at your option) any later version.
 * 
 * Bacula-Web is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without 
 * even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along with Bacula-Web. If not, see 
 * <https://www.gnu.org/licenses/>.
 */

/**
 * Bacula-Web application config file
 * @author Davide Franco
 * @since 5.1.0-alpha
 */

// Show inactive clients (false by default)
$config['show_inactive_clients'] = true;

// Hide empty pools (displayed by default)
$config['hide_empty_pools'] = false;

// Custom datetime format (by default: Y-m-d H:i:s)
// Examples 
// $config['datetime_format'] = 'd/m/Y H:i:s';
// $config['datetime_format'] = 'm-d-Y H:i:s';
$config['datetime_format'] = 'Y-m-d H:i:s';

// Custom short datetime format (optional)
// Example
// $config['datetime_format_short'] = 'd/m/Y';

// Security
$config['enable_users_auth'] = true;

// Debug mode 
$config['debug'] = false;

// Translations
$config['language'] = 'en_US';

// en_GB -> English (United Kingdom)
// be_BY -> Belarusian
// ca_ES -> Catalan
// de_DE -> German
// en_US -> English
// es_ES -> Spanish
// fr_FR -> French
// it_IT -> Italian
// ja_JP -> Japanese
// nl_NL -> Dutch
// no_NO -> Norwegian
// pl_PL -> Polish
// pt_BR -> Portuguese Brazil
// ro_RO -> Romanian
// ru_RU -> Russian
// sv_SE -> Swedish
// zh_CN -> Chinese

// Rows per page
$config['rows_per_page'] = 25;

// Base path
// Do not comment out if you haven't setup Bacula-Web using Apache Alias
// $config['basepath'] = '/custom-sub-path';

// Database connection parameters
// Copy/paste and adjust parameters according to your configuration

// For Unix socket connection, use parameters described below
// MySQL: use localhost for $config[0]['host']
// PostgreSQL: do not define $config[0]['host']

// MySQL bacula catalog
// $config[0]['label'] = 'Backup Server';
// $config[0]['host'] = 'localhost';
// $config[0]['login'] = 'bacula';
// $config[0]['password'] = 'verystrongpassword';
// $config[0]['db_name'] = 'bacula';
// $config[0]['db_type'] = 'mysql';
// $config[0]['db_port'] = '3306';

// PostgreSQL bacula catalog
// $config[0]['label'] = 'Prod Server';
// $config[0]['host'] = 'db-server.domain.com';
// $config[0]['login'] = 'bacula';
// $config[0]['password'] = 'otherstrongpassword';
// $config[0]['db_name'] = 'bacula';
// $config[0]['db_type'] = 'pgsql';
// $config[0]['db_port'] = '5432'; 

// SQLite bacula catalog
// $config[0]['label'] = 'Dev backup server';
// $config[0]['db_type'] = 'sqlite';
// $config[0]['db_name'] = '/path/to/database/db.sdb';
// Copy the section below only if you have at least two Bacula catalog
// Don't forget to modify options such as label, host, login, password, etc.

// 2nd bacula catalog (MySQL)
// $config[1]['label'] = 'Dev backup server';
// $config[1]['host'] = 'mysql-server.domain.net';
// $config[1]['login'] = 'bacula';
// $config[1]['password'] = 'verystrongpassword';
// $config[1]['db_name'] = 'bacula';
// $config[1]['db_type'] = 'mysql';
// $config[1]['db_port'] = '3306';
