<div class="card border-dark mb-3">
    <div class="card-header" title="{{ 'Stored files over the last 7 days'|trans }}">
        <strong>{{ 'Stored Files (last 7 days)'|trans }}</strong>
    </div>
    <div class="card-body">
        <div id="{{ stored_files_chart_id }}">
            <svg></svg>
        </div>
        {{ stored_files_chart|raw }}
    </div>
</div>