body, html {
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
    font-family: Arial,Verdana;
    color: #000000;
    font-size: 10pt;
    text-align: left;
    vertical-align: middle;
}

a:visited, a:hover, a {
    color: #404040;
}

.main_center {
    min-width: 1100px;
    margin: 10px;
    padding: 5px 10px;
    float: left;
    border: 1px solid #c8c8c8;
    background-color: #ffffff;
}

.main_center div.header {
    /*border-bottom: 1px solid #c8c8c8;*/
    min-width: 500px;
    color: #404040;
    font-size: 12pt;
    font-weight: bold;
    margin: 5px 0px;
    padding: 2px;
    vertical-align: middle;
    text-align: left;
}

.list {
    width: auto;
    height: auto;
    overflow: auto;
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
    max-height: 420px;
}

.widget {
    float: left;
    width: 350px;
    min-height: 200px;
    padding: 0px; 
    margin: 5px 5px;
    background-color: #FFFFFF;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.widget img.graph {
    margin: 0px;
    border: none;
    vertical-align: middle;
	width: 100%;
}

.box {
    float: left;
    min-height: 100px;
    min-width: 300px;
    padding: 0px;
    margin: 5px;
    background-color: #FFFFFF;
}

.box p.title, .widget p.title {
    text-align: center;
    vertical-align: middle;
    font-size: 11pt;
    background-color: #404040;
    color: #ffffff;
    padding: 3px;
    margin: 0px;
    font-weight: bold;
}

.box h4, .box h5 {
    background-color: #eeeeee;
    width: auto;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    margin: 5px 0px 10px 0px;
}

a img { border: none;}
