#header{
 display: block;
 width: 100%;
 padding: 0px;
 margin: 0px;
 background-color: #f0f0f0;
 vertical-align: middle;
}

#header ul { 
 margin: 0px; 
 padding: 0px;
}

#header li { 
 display: inline; 
 list-style-type: none;
 padding: 0px 5px; 
} 

#header * a {
 font-size: 10pt;
 font-weight: bold;
 text-decoration: none;
}

#header_main {
 display: block;
 background-color: #404040;
}

div.toolbar_box {
 line-height: 28px;
 height: 28x;
 min-width: 50px;
 padding: 2px;
 text-align: center;
}

#header_main div.toolbar_box { 
 height: 40px;
 line-height: 40px;
}

#header_main .app_name {
 color: #c0c0c0;
 background-color: #404040;
 font: normal small-caps bolder 19pt Arial,Verdana;
 height: 40px;
 line-height: 40px;
 text-align: center;
 padding: 0px 5px;
}

#header_main .toolbar_box img { 
 line-height: 35px;
 height: 35px; 
}

.page_name {
 font-size: 13pt;
 color: #c0c0c0;
 font-weight: bold;
 margin-left: 10px;
}

div.left_box { float: left; }

div.right_box { float: right; }

div.clear_both { clear: both; }
