#header{
 width: 100%;
 padding: 0px;
 margin: 0px 0px;
 background-color: #404040;
 display: table;
}

#header .app_name {
 display: table-cell;
 float: right;
 color: #FFFFFF;
 background-color: #404040;
 vertical-align: middle;
 font: normal small-caps bold 18pt Arial,Verdana;
 padding: 10px;
}

.app_version {
 float: right;
 color: #404040;
 font: normal normal bold 9pt Arial,Verdana;
 margin: 2px 5px;
}

#toplinks {
 font-size: 10pt;
 padding: 0px;
 height: 30px;
}

#toplinks li {
 height: 30px;
 display: inline;
 float: right;
 padding: 0px 10px;
 vertical-align: middle;
 line-height: 30px;
}

#toplinks li a {
 text-decoration: none;
 font-size: 12pt;
}

#toplinks form, #toplinks select {
 vertical-align: middle;
}
