 table {
  font-size: 9pt;
  width: 100%;
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
 }

 table.table_small {
  font-size: 8pt;
  padding: 4px;
 }
 
 table.table_big {
  font-size: 11pt;
 }

 table.grid {
  min-width: 800px;
 }
 
 table.grid td {
  padding: 8px 4px;
 }

 table.grid th {
  padding: 10px 4px;
 }

 table.grid tr:hover {
  background-color: #c8c8c8;
  /*cursor: pointer;*/
 }

 td, th {
  border-top: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding: 4px;
  min-width: 40px;
  text-align: center;
 }
 
 th, tfoot {
  background-color: #c8c8c8;
 }

 tr.even {
  background-color: #e8e8e8;
 }
 
 td.running {
  color: #0000ff;
 }
 
 td.good {
  color: #00ff00;
 }
 
 td.warning {
  color: #ff6600;
 }
 
 td.critical {
  color: #ff0000;
 }
 
 td.strong {
  font-weight: bold;
 }

 td.left_align {
  text-align: left;
 }

 td.right_align {
  text-align: right;
 }
