/*

Add styles or override variables from the theme here.

*/

ul { 
    text-align: left;
 }

p {
    padding-top: 1em;
}

img {
    width: 280px;
    display: inline-block;
    margin: 0 60px 0 0;
}